[submodule "themes/hugo-icarus-theme"]
	path = themes/hugo-icarus-theme
	url = git@github.com:c5k6/hugo-icarus-theme.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/c5k6/hugo-theme-cleanwhite
